{% extends 'questions/base.html' %}

{% block content %}
{% if not questions %}
<h3>You have not asked any question till date</h3>
{% endif %}
{% for question in questions %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                  Topic : {{ question.topic }} 
                </h5>
                <p class="card-text">Question: {{ question.question|truncatewords:50 }}</p>
                <small class="text-muted">Asked by {{ question.author.username }} on {{ question.created_at }}</small><br>
                <a href="{% url 'question_detail' question.pk %}"><button> Answers</button></a>
            </div>
        </div>
    {% endfor %}

    {% endblock %}     